<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Server admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Welcome admin</h1>
        <button onclick="shutdown()">Shutdown Flask Server</button>
        <button onclick="logout_everyone()">Log out all users</button>
        <p id="info">Loading server info</p>
        <p id="cpu">Loading CPU</p>
        <script>
            const sleep = (milliseconds) => {
                return new Promise(resolve => setTimeout(resolve, milliseconds))
            }
            async function info(){
                var xhttp = new XMLHttpRequest();
                signin_response = ""
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("info").innerHTML = this.responseText
                    }
                };
                xhttp.open("GET", "/info", true);
                xhttp.send();
            }
            async function shutdown(){
                var xhttp = new XMLHttpRequest();
                signin_response = ""
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    }
                };
                xhttp.open("GET", "/exit", true);
                xhttp.send();
            }
            async function logout_everyone(){
                var xhttp = new XMLHttpRequest();
                signin_response = ""
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        window.location.pathname = "/login"
                    }
                };
                xhttp.open("GET", "/logout_everyone", true);
                xhttp.send();
            }
            async function cpu_ping(){
                while(true == true){
                    var xhttp = new XMLHttpRequest();
                    signin_response = ""
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            document.getElementById("cpu").innerHTML = "CPU Usage:"+this.responseText
                        }
                    };
                    xhttp.open("GET", "/cpu_usage", true);
                    xhttp.send();
                    await sleep(1000)
                }
            }
            cpu_ping()
            info()
        </script>
    </body>
</html>