<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
            .footer {
                position: fixed;
                bottom: 0;
                color: gray;
            }
        </style>
    </head>
    <body>
        <h1>Py WebRemote</h1>
        <p>You have landed on the Py WebRemote homepage click login to go to the login page</p>
        <button><a href="/login">Login</a></button>
        <p class="footer">Not an admin? Why not install Py WebRemote on to your server <a href="https://github.com/awesomelewis2007/PyWebremote">here</a></p>
    </body>
</html>