<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
            .footer-left {
                position: fixed;
                bottom: 0;
                right: 70%;
                left: 10px;
                color: gray;
            }
            .bottom-image{
                position: absolute;
                right: 0px;
                bottom: 0px;  
            }
        </style>
    </head>
    <body>
        <h1>Py WebRemote</h1>
        <p>You have landed on the Py WebRemote homepage click login to go to the login page</p>
        <button><a href="/login">Login</a></button>
        <p class="footer-left"><strong>Not an admin?</strong> Why not install Py WebRemote on to your server <a href="https://github.com/awesomelewis2007/PyWebremote">here</a></p>
        <img src="https://www.python.org/static/community_logos/python-powered-w-200x80.png" class="bottom-image">
    </body>
</html>