<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
        
    </head>
    <body>
        <h1>Py WebRemote</h1>
        <p>Enter your password to login to the admin portal</p>
        <input id="password" placeholder="password" type="password">
        <button onclick="login()">Login</button>
        <button><a href="/forgot">Forgot?</a></button>
        <p>By clicking login your IP address will be temporally stored on this server</p>
        <script>
            function setCookie(name,value,days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days*24*60*60*1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            }
            console.log("%cDO NOT SCREEN SHARE THIS SCREEN IT MAY HAVE YOUR PASSWORD HERE!", "color:red; font-size:50px");
            async function login(){
                var xhttp = new XMLHttpRequest();
                signin_response = ""
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        if(this.responseText == "True"){
                            window.location.pathname = "/admin"
                        };
                    }
                };
                xhttp.open("GET", "signin?password="+document.getElementById("password").value, true);
                xhttp.send();
            }

        </script>
    </body>
</html>